apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  namespace: app-namespace
  labels:
    app: my-app
spec:
  selector:
    app: my-app
  ports:
    - name: web
      port: 80
      targetPort: 5000
  type: LoadBalancer
