---
# tasks file for roles/trivy

- name: Install required packages
  apt:
    name:
      - wget
      - apt-transport-https
      - gnupg
      - lsb-release
    state: present
    update_cache: yes

- name: Add Trivy GPG key
  ansible.builtin.apt_key:
    url: https://aquasecurity.github.io/trivy-repo/deb/public.key
    state: present

- name: Add Trivy repository
  ansible.builtin.apt_repository:
    repo: "deb https://aquasecurity.github.io/trivy-repo/deb {{ ansible_distribution_release }} main"
    state: present

- name: Install Trivy
  apt:
    name: trivy
    state: present
    update_cache: yes
